.vowel {

 /* background: linear-gradient(#e66465, #ffff);  */
 background: linear-gradient(
    #e66465,
    #ffff
  );
  font-size: 12px;
  width: 60px;
  height: 60px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.yoxi-vowel {
  cursor: pointer;
}