body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.top-700px {
  margin-top: 60px;
}


.yoxi-intro {
  height: 20rem;
  cursor: pointer;
}

.yoxi-vowel {
  width: 220px;
  height: 220px;
  transition: width 1s;
}
.content {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.content-menu-item {
  width: 120px;
  height: 120px;
}

.content-menu-item:hover img.arrowNext {
  width: 120px;
}

.content-menu-item:hover img.yoxi-vowel {
  width: 125px;
}