
.vowel-start-game {
 background-color: white;  
 width: 80px;
 height: 80px;
 padding-right: 15px;
 padding-bottom: 15px;
}

.start-game-title {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    align-content: center;
    padding-bottom: 100px;
}

.yoxi-vowel-start-game {
	max-width: 10rem;
	max-height: 10rem;
	cursor: pointer;
}
.start-game-options {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: space-around;
    padding: 20px;
}

.two {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}