@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

body {
  margin: 0;
  font-family:'Century Gothic','Futura','Didact Gothic',san-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
